{% extends 'base.html' %}

{% block title %}Hello{% endblock %}
{% block menu %} <li><a href="{% url 'card_create' %}">Create Card</a></li>{% endblock %}

{% block content %}
    <h1>Guest Cards!</h1>
    {% for card in cards %}
        <div class="card">
        <b><p>{{ card.name }} ({{ card.mail }})</p></b>
        <p>{{ card.text }}</p>
        <a href="{% url 'card_update' card.pk %}" class="button-1">Update</a>
        <a href="{% url 'card_delete' card.pk %}" class="button-2">Delete</a>
        </div>
        <br>

    {% endfor %}

{% endblock %}
